@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Кто ты такой?! Олег знает пароль от Супервизора... </h2>
<div>
    <input type="image" name="frai" src="~/css/Frai.jpg">
</div>