@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Если ты Олег, введи пароль для Supervisor</h4>
<form action="/Home/Perekur" method="post">
    <div>
        Пароль <input type ="text" name="password" />
    </div>
    <span>
        <input type="submit" name="Submit" value="Подтвердить" />
    </span>


</form>