@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <form action="/Home/GoPerekur">
            <button>Нажми если хочешь курить</button>
        </form>
    </div>
    <form action="/Home/ShowEmployees">
        <button>Показать сотрудников</button>
    </form>

    <div>
        <form action="/Home/AppointPerekur">
            <button>Запланировать перекур</button>
        </form>

    </div>
</div>
